.DS_Store
.bundle/
.rspec
.ruby-version
.yardoc
.env
Gemfile.lock
coverage/
gemfiles/*.gemfile.lock
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/db/*.sqlite3-*
spec/dummy/log/*.log
spec/dummy/storage/
spec/dummy/tmp/
